<header>
    <%= render 'layouts/logo' %>
    <%= render 'layouts/adminnav' %>
</header>

<main>
    <% @articles.each do |article| %>
        <div class="article_info">
            <%= image_tag("arrow.png") %>
            <h1><%=article.title%></h1>
            <%= article.content.html_safe %>
        </div>
    <% end %>
</main>

<div></div>
