<header>
    <%= render 'layouts/logo' %>
    <%= render 'layouts/adminnav' %>
</header>

<main>
    <%= render 'layouts/flash' %>
    <% @articles.each do |article| %>
        <div class="article_info">
            <%= image_tag("arrow.png") %>
            <h1><%=article.title%></h1>
            <div class='article_content'><%= article.content.html_safe %></div>
            <%= image_tag article.image %>
        </div>
    <% end %>
</main>

<div></div>
