<%= render 'layouts/flash' %>

<div class='blog_container'>
    <div class='blog'>
        <main class="articles">
            <% if admin? %>
                <%= link_to "Nouvel Article", new_article_path, class: 'btn btn-primary active'  %>
            <% end %>
            <% @articles.each do |article| %>
                <%= link_to article_path(article), class:'read_article' do %>
                    <div class='article'>
                        <div class="title">
                            <span class='pastille'><i class="fas fa-chess-board"></i></span>
                            <h1><%=article.title%></h1>
                        </div>
                        <div class='description'>
                            <div class='info'>
                                <h2>Publié <%= format_date(article.created_at)%> par <%= article.author%></h2>
                            </div>
                            <div class='heading'>
                                <p><%= article.heading.html_safe %></p>
                                <%= image_tag article.image %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </main>

        <aside>
            <ul class='categories'>
                <% @categories.each do |category| %>
                    <% unless category.articles.length == 0 %>                  
                        <li class='category_item'>
                            <%= link_to category.name.upcase, category: category.name %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </aside>
    </div>
</div>

<%= link_to_next_page @articles, 'Page suivante' %>