<%= form_with model: [@article], local: true, class: 'article_form', url: articles_path, method: :post  do |f| %>
  <div class='select'>
    <%= f.select :category, options_for_select(get_names(Category, Category.all.first.name)) %>
  </div>
  <%= f.label :title, "titre" %>
  <%= f.text_field :title,  :required => 'required' %>
  <%= f.label :author, "auteur" %>
  <%= f.text_field :author, :required => 'required' %>
  <%= f.label :heading, "chapeau" %>
  <%= f.text_area :heading, :required => 'required' %>
  <%= f.text_area :content, :id => 'article_content' %>
  <%= f.label :image, "photo principale" %>
  <%= f.file_field :image, :required => 'required' %>
  <%= f.submit "Créer" %>
<% end %>