<div class='full_article'>
    <div class='title'>
        <%= @article.title %>
    </div>
    <div class='details'>
        <span class='date'><%= format_date(@article.created_at) %></span>
        <span class='author'><%= @article.author %></span>
    </div>
    <div class='content'>
        <%= @article.content.html_safe %>
    </div>
</div>

<div class='admin' id='admin_article_options'>
    <%= link_to "Modifier", edit_article_path(@article), :class => 'edit_article' %>
    <%= button_to "Supprimer", article_path(@article), method: :delete, 
    :class => 'delete_article', data: { confirm: 'Êtes-vous sûr(e)?' } %>
</div> 