<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v10.0&appId=138592226931182&autoLogAppEvents=1" nonce="4QhvdGxA"></script>
<%= render 'layouts/flash' %>
<div class='full_article_container'>
    <% if admin? %>
        <div class='admin_article_options'>
            <%= link_to "Modifier", edit_article_path(@article), :class => 'btn btn-warning btn-sm' %>
            <%= button_to "Supprimer", article_path(@article), method: :delete, :class => 'btn btn-danger btn-sm',
             data: { confirm: 'Êtes-vous sûr(e)?' } %>
            <% unless @article.published %>
                <%= button_to "Publier", publish_path, 
                :params => {:article => {:published => true}, :id => @article.id}, method: :post, :class => 'btn btn-primary' %>
            <% end %>
        </div> 
    <% end %>

    <div class='full_article'>
        <div class='title'>
            <h1><%= @article.title%></h1>
            <span id="green_line"></span>
        </div>
        <div class='info'>
            <span class='date'><%= format_date(@article.created_at, Time.now, '') %></span><!--
            --><span class='author'><%= @article.author %></span>
        </div>
        <div class='heading'>
            <p><%=@article.heading%></p>
        </div>
        <div class='content'>
            <div class='image_container'><%= image_tag @article.image %></div>
            <%= @article.formatted_body %>
        </div>
        <%= link_to (content_tag(:i, nil, class: "fas fa-angle-double-left fa-2x")), articles_path %>
        <%= social_share_button_tag(@article.title, :image => @article.image) %>
    </div>
</div>