<div class='wrapper'>
        <%= form_with model: @user, local: true, class: 'form-signin' do |f| %>
            <h2 class="form-signin-heading">Connexion</h2>
            <%= f.text_field :email, :class => 'form-control', :placeholder => "email", :required => 'required', :autofocus => "" %>
            <%= f.text_field :password, :class => 'form-control', :placeholder => "mot de passe", :required => 'required' %>
            <%= f.submit "Accéder", :class => "btn btn-lg btn-primary btn-block" %>
            <%= render 'layouts/flash' %>
        <% end %>
</div>