<h1>Admins</h1>
<table class='users'>
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr class='red'>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= link_to 'Voir', user_path(admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<h1>Membres</h1>
<table class='users'>
  <thead>
  <tr>
    <th>Pseudo</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= link_to 'Voir', user_path(member) %></td>
        <td><%= link_to 'Supprimer', user_path(member), method: :delete, data: { confirm: 'Êtes-vous sûr(e)?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>