<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Modifier', edit_user_path(@user) %> |
<% if admin? %>
  <%= link_to 'Back', users_path %>
<% end %>
