<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Modifier', edit_user_path(@user) %>
<% if admin? %>
  <%= link_to 'Retour', users_path %>
<% end %>
