
<%= form_with model: [:admin, @word], url: word_path(@word.id), method: :put  do |f| %>
    <%= f.label :name, "mot ou expression" %>
    <%= f.text_field :name,  :required => 'required' %>
    <%= f.label :translation, "traduction" %>
    <%= f.text_field :translation, :required => 'required' %>
    <%= f.label :theme, "thème" %>
    <%= f.select :theme, options_for_select(get_theme_names) %>
    <%= f.submit "Modifier" %>
<% end %>
</div>