<%= render 'layouts/flash' %>

<br></br>

<% if admin? %>
    <div class='admin_options'>
        <%= link_to "Ajouter au lexique", new_word_path, :class => 'btn btn-primary active' %>
        <%= link_to "Ajouter un thème", new_theme_path, :class =>  'btn btn-primary active' %>
    </div>
<% end %>

<%= render 'layouts/alphabet' %>
<%= render 'layouts/lexique' %>
