<%= render 'layouts/flash' %>
<table>
    <tr>
        <th>Name</th>
        <th>Translation</th>
        <th>Category</th>
    </tr>
    <% @words.each do |word| %>
        <tr>
            <td><%= word.name %></td>
            <td><%= word.translation %></td>
            <td><%= word.category || "no category" %>
            <a href="/admin/words/<%=word.id%>/edit">Modifier</a>
            <a href="#">Supprimer</a>
        </tr>
    <% end %>
</table>

