<h1>Ajouter au lexique</h1>
<%= form_with model: [:admin, @word], url: words_path do |f| %>
    <%= f.label :name, "mot ou expression" %>
    <%= f.text_field :name, :required => 'required' %>
    <%= f.label :translation, "traduction" %>
    <%= f.text_field :translation, :required => 'required' %>
    <%= f.label :theme, "categorie" %>
    <%= f.select :theme, options_for_select(get_theme_names)) %>
    <%= f.submit "Ajouter" %>
<% end %>