<div id="glossary" class="table-responsive">
    <table class="table">
        <tr class='titres'>
            <th>FRANÇAIS</th>
            <th>CORSU</th>
            <th><%= select_tag "categurie", options_for_select(get_names(Theme, "all")) %></th>
        </tr>
        <% @words.each do |word| %>
            <tr class="row_result" data-id=<%=word.id%>>
                <td><%= word.name %></td>
                <td><%= word.translation %></td>
                <td><%= word.theme ? word.theme.name : "non catégorisé" %></td>
                <td class='admin'><%= link_to 'Modifier', edit_word_path(word), :class => 'btn btn-warning btn-sm' %></td>
                <td class='admin'><%= button_to 'Supprimer', word_path(word), 
                method: :delete, :class => 'btn btn-danger btn-sm', data: { confirm: 'Êtes-vous sûr(e)?' } %></td>
            </tr>
        <% end %>
    </table>
</div>

<%= link_to_next_page @words, 'Page suivante' %>

<br></br>